In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [3]:
df=pd.read_csv("../raw_data/train.csv")

/tmp/ipykernel_3443/1933274695.py:1: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("../raw_data/train.csv")

In [4]:
df.head(5)

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good

In [5]:
df.isnull().sum()

ID                              0
Customer_ID                     0
Month                           0
Name                         9985
Age                             0
SSN                             0
Occupation                      0
Annual_Income                   0
Monthly_Inhand_Salary       15002
Num_Bank_Accounts               0
Num_Credit_Card                 0
Interest_Rate                   0
Num_of_Loan                     0
Type_of_Loan                11408
Delay_from_due_date             0
Num_of_Delayed_Payment       7002
Changed_Credit_Limit            0
Num_Credit_Inquiries         1965
Credit_Mix                      0
Outstanding_Debt                0
Credit_Utilization_Ratio        0
Credit_History_Age           9030
Payment_of_Min_Amount           0
Total_EMI_per_month             0
Amount_invested_monthly      4479
Payment_Behaviour               0
Monthly_Balance              1200
Credit_Score                    0
dtype: int64

In [6]:
#removing any negative or positive 4digit number replacing it to Nan and removing underscore at the end and replacing it with it initial value
def process_age(df, col):
    
    df[col] = df[col].str.replace('_', '')
    df[col] = df[col].str.replace('-', '')
    df[col] = df[col].str.replace(r'\b-\d{3}\b', '',regex=True)
    df[col] = df[col].str.replace(r'\b\d{3}\b', '',regex=True)
    df[col] = df[col].str.replace(r'\b-\d{4}\b', '',regex=True)
    df[col] = df[col].str.replace(r'\b\d{4}\b', '',regex=True)
    df[col] = df[col].replace('', np.nan)
    df[col] = df[col].astype(float)
    
    grouped_df = df.groupby('Customer_ID')
    mode_per_group = grouped_df[col].transform(lambda x: x.mode().iat[0] if len(x.mode()) > 0 else np.nan)
    df[col].fillna(mode_per_group, inplace=True)
    
    return df

In [7]:
clean_age_df = process_age(df,'Age')

In [8]:
clean_age_df['Age'].unique()

array([23., 28., 34., 54., 55., 21., 31., 33., 30., 24., 44., 45., 40.,
       41., 32., 35., 36., 39., 37., 20., 46., 26., 42., 19., 48., 38.,
       43., 22., 16., 18., 15., 27., 25., 14., 17., 47., 53., 56., 29.,
       49., 51., 50., 52., 99., 95.])

In [9]:
def clean_occ(df, col, pattern):
    df[col] = df[col].str.replace(pattern, '')
    df[col] = df[col].replace('', np.nan)
    
    grouped_df = df.groupby('Customer_ID')
    mode_per_group = grouped_df[col].transform(lambda x: x.mode().iat[0] if len(x.mode()) > 0 else np.nan)
    df[col].fillna(mode_per_group, inplace=True)
    
    return df

In [10]:
cleaned_occ_df=clean_occ(clean_age_df,"Occupation","_______")

In [11]:
cleaned_occ_df["Occupation"].unique()

array(['Scientist', 'Teacher', 'Engineer', 'Entrepreneur', 'Developer',
       'Lawyer', 'Media_Manager', 'Doctor', 'Journalist', 'Manager',
       'Accountant', 'Musician', 'Mechanic', 'Writer', 'Architect'],
      dtype=object)

In [12]:
def clean_ai(df, col):
    
    df[col] = df[col].str.replace('_', '')
    df[col] = df[col].replace('', np.nan)    
    grouped_df = df.groupby('Customer_ID')
    mode_per_group = grouped_df[col].transform(lambda x: x.mode().iat[0])
    df[col].fillna(mode_per_group, inplace=True)
    
    return df

In [13]:
clean_ai_df=clean_ai(cleaned_occ_df,"Annual_Income")

In [14]:
clean_ai_df["Annual_Income"].unique()

array(['19114.12', '34847.84', '143162.64', ..., '37188.1', '20002.88',
       '39628.99'], dtype=object)

In [15]:
clean_ai_df.columns

Index(['ID', 'Customer_ID', 'Month', 'Name', 'Age', 'SSN', 'Occupation',
       'Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts',
       'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan', 'Type_of_Loan',
       'Delay_from_due_date', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit',
       'Num_Credit_Inquiries', 'Credit_Mix', 'Outstanding_Debt',
       'Credit_Utilization_Ratio', 'Credit_History_Age',
       'Payment_of_Min_Amount', 'Total_EMI_per_month',
       'Amount_invested_monthly', 'Payment_Behaviour', 'Monthly_Balance',
       'Credit_Score'],
      dtype='object')

In [16]:
clean_ai_df["Monthly_Inhand_Salary"].unique()

array([1824.84333333,           nan, 3037.98666667, ..., 3097.00833333,
       1929.90666667, 3359.41583333])

In [17]:
def clean_mis(df, col):
    grouped_df = df.groupby('Customer_ID')
    mode_per_group = grouped_df[col].transform(lambda x: x.mode().iat[0]if len(x.mode()) > 0 else np.nan)
    df[col].fillna(mode_per_group, inplace=True)
    
    return df

In [18]:
clean_mis_df=clean_mis(clean_ai_df,"Monthly_Inhand_Salary")

In [19]:
clean_mis_df.isnull().sum()

ID                              0
Customer_ID                     0
Month                           0
Name                         9985
Age                             0
SSN                             0
Occupation                      0
Annual_Income                   0
Monthly_Inhand_Salary           0
Num_Bank_Accounts               0
Num_Credit_Card                 0
Interest_Rate                   0
Num_of_Loan                     0
Type_of_Loan                11408
Delay_from_due_date             0
Num_of_Delayed_Payment       7002
Changed_Credit_Limit            0
Num_Credit_Inquiries         1965
Credit_Mix                      0
Outstanding_Debt                0
Credit_Utilization_Ratio        0
Credit_History_Age           9030
Payment_of_Min_Amount           0
Total_EMI_per_month             0
Amount_invested_monthly      4479
Payment_Behaviour               0
Monthly_Balance              1200
Credit_Score                    0
dtype: int64

In [20]:
clean_mis_df["Num_Bank_Accounts"].unique()

array([   3,    2,    1,    7,    4,    0,    8,    5,    6,    9,   10,
       1414, 1231,   67,  572, 1488,   91,  528, 1647, 1696, 1338,  649,
        889, 1668,  685,  857,  975, 1496, 1534, 1620,   37, 1388, 1429,
       1332, 1588,  120, 1777, 1096,  803,  494,  744, 1139,  831, 1613,
        741,  121,  665, 1748, 1644,  823, 1356, 1651,   87,  711,  450,
        210, 1671, 1722,  648,  672, 1662, 1495,  510,  666,  429, 1131,
       1434,  980, 1026,  526,  718, 1300, 1312, 1315,  501, 1566,  480,
       1042,  322,  628, 1016,  333, 1265,  791,  427,  563,  905, 1190,
       1036, 1611,   38,  619,  555, 1769,  280,  752, 1201,  812, 1487,
        222,  212, 1019, 1222,  610, 1714, 1308,  525, 1158, 1115, 1616,
        754, 1601,  797, 1577,  521,  703,  933,  959,  809, 1089, 1656,
       1113, 1715,  964, 1533, 1789,  871,  434, 1295,  565, 1724,  603,
        677,  541,  698, 1101,  464, 1539, 1462, 1011, 1257, 1727,   45,
        244, 1266,  897,  535,  484,  331,  675,  826,  946, 1675,  105,
       1327,  845,  549,  473,  710,  527,  908,   68, 1628,  371,  445,
       1168,  868,  687,  455, 1003,   26, 1526,  618,  598,  351, 1342,
       1783,  683, 1557, 1335,  416, 1747,  137, 1475,  373,  338,  942,
        170,  973, 1605, 1478,  386, 1448, 1033, 1225,  596, 1731, 1214,
       1481, 1105,  580,  347,  108,  148, 1001, 1467, 1114, 1000,  632,
        246, 1032, 1394,  689,  482, 1303,  720,  574,  588, 1358,  650,
        708,  179,  844, 1140,  335,   60,  732, 1494, 1436,  820,   28,
       1576,  818,  794,  731,  534,  556,  691, 1197, 1155, 1255, 1763,
        769, 1124,  819,  318, 1418,  882,   61,  264,  194, 1798,  611,
        840,  505, 1110,  719, 1065,  195,  584,  550, 1014, 1022,  903,
        976,   31,  417, 1423, 1148,  616,  786, 1424,   55, 1061, 1293,
        342,   43, 1540,  488, 1122, 1274, 1075,  722, 1268,   41,  814,
       1564, 1390, 1141,  497,  224, 1135,  441,  374,   74,  314, 1408,
        475, 1015,  681, 1236,   59, 1425, 1637, 1240,  299, 1657, 1123,
       1091, 1264, 1561, 1632, 1562,  305, 1318, 1217, 1699, 1070,  864,
       1391,  112,  860,  595,  229, 1624, 1051,  821, 1794, 1565,  397,
       1368, 1353,  508, 1725, 1413, 1239,  847, 1317,  570,   -1,  302,
        456,  198,  122,  832,  167, 1547, 1666, 1241,  275,  566, 1779,
        201,  334, 1169,  834, 1174, 1040,  530, 1676, 1468, 1093,  706,
        489, 1592,  688,  830, 1784, 1543, 1600, 1178,  228,  483, 1501,
        950,  548,  870, 1211,  604,  804,  129,  540, 1702, 1636, 1680,
       1443, 1252,  499,  180,  702,  885, 1652,  795,  938,  833, 1654,
       1793,  303, 1621, 1516, 1138,   32,  160, 1491,   83,  423,  928,
        339,  931,  243, 1756,  583, 1695,  274,  955,  430, 1247,  490,
        726,  987,   42, 1626, 1470, 1739,  887,  211,  385, 1221,  753,
        324,  406, 1677, 1567,  785,  182, 1079,  184, 1771, 1048, 1069,
        561,  589, 1634,   70, 1371,  647, 1153,  239,  801, 1279, 1287,
        425, 1589,  929, 1511, 1765, 1047, 1005, 1337,  981, 1766,  805,
       1574, 1638,  186,   99,  288, 1650,  974,  996, 1595, 1594,  865,
        203, 1440,  448,  285,   94,  875,  916, 1733,  240,  330,   79,
         82,  135, 1043,  142, 1235, 1569, 1741, 1461,  560, 1551,  409,
        418, 1017,  892,  354,  124,  935,  313, 1363,  232, 1200, 1184,
       1432, 1479, 1407, 1080, 1719, 1024,  970,  761,  158,  312, 1060,
        684,  696, 1520, 1352, 1502,  936,  485,  350, 1560, 1166, 1013,
         34, 1691,  715, 1570, 1751, 1503, 1194, 1558,  411,  298,  260,
        308,  796, 1442,  912, 1256,  746,  435,  620, 1774, 1181, 1323,
        837,  307, 1430,   53, 1447,  259,  921,  328, 1034,  353,  822,
        654,  829,  609,  166,  136,  172, 1306, 1028,  808,  270, 1072,
        514,  156, 1331, 1630,  462, 1310, 1210,  265,   50, 1355,  394,
       1393,  226,  991,  368, 1018, 1037,  627, 1744,  523,  894,  944,
       1730, 1076, 1094, 1617,  449,  678, 1164,   30,  817, 1568,  607,
        709, 1230,  606, 1480,   29, 1522, 1670,   49,  626, 1641, 1712,
       1370, 1782,  119, 1137, 1277,   35,  947,  851, 1041, 1583, 1536,
        575,  196,  143,   33,  383,   57,  621,  230,  162,  352, 1504,
       1250,   39,  511, 1364,  918, 1665,  734, 1320,  316,  771,  705,
       1435,  304,  116, 1553,  424,  493, 1530, 1195, 1604,  624, 1599,
        782, 1606, 1622, 1285,  657, 1275, 1291, 1402,  420,  932,  468,
        442, 1145,   93, 1218,  283,  292,  927, 1711, 1422,  364, 1398,
        594,  789, 1350,  676,  216, 1012, 1426,  717, 1095, 1786,  850,
        777,  375,  356,  701, 1325,  290, 1775,  467, 1365, 1549,  848,
       1453,   84, 1458,  888,  770, 1591,  582,   40, 1261, 1764, 1067,
        145,  471,  476, 1128,  967,  622,  641,  539,  858,  295, 1395,
       1517, 1297, 1126,  926,  157, 1377,  993,  125,  340,  271, 1669,
        272,  979,  707,  564,  997,  447, 1578, 1465,  415,  714, 1276,
         18, 1316,  587,  245,  446,  978, 1002, 1631,  341, 1307,  524,
       1267,  103,  242, 1378, 1328, 1294, 1309,  724,  197,  999,  547,
       1100, 1456,   77, 1506, 1472,  460,   11, 1420,  218, 1253,  392,
        670, 1321,  100, 1205,  443,   92,  811,  774,  159, 1770,  972,
       1157, 1102,  217,  358, 1473,  440,  140, 1361,  481,  512, 1117,
        300, 1263, 1581,  901, 1298,  310,  637,  758, 1734, 1288,  326,
       1678, 1444, 1344, 1379,  828,  982,  104,  317, 1529, 1627,  115,
        645, 1404,  940, 1305, 1049, 1645, 1466,  175, 1165, 1419, 1031,
        581, 1580,  854,  725, 1655, 1134,  569, 1387, 1381, 1760,  360,
       1735, 1146, 1411,  969, 1281,  591,  327,  466,  667,  147,  109,
        784, 1396, 1349,  839, 1284,  802,   97,  281, 1382, 1039, 1483,
        376, 1249, 1207, 1213, 1219, 1345, 1523,  949, 1063,  983,  886,
       1151,  992, 1107, 1314,  151,   69, 1489,  695,  738,  444, 1525,
        825,  506,  518, 1077, 1354,  713,  690,  861, 1389,  968,  421,
        907,  205,  856,   72,  651,  161,  867,  971, 1078,   64, 1701,
        546, 1216,   27, 1709,  193, 1528,  957,  577,  346, 1416,  396,
       1182,  652, 1083, 1778,  680, 1754, 1544, 1703,  636,  472,  453,
        463,   75,  756,  296,  891,  813,  474,  697])

In [21]:
def clean_nba(df, col):
    df[col] = df[col].apply(lambda x: re.sub(r'\b\d{2}\b', '', str(x)))
    df[col] = df[col].apply(lambda x: re.sub(r'\b\d{3}\b', '', str(x)))
    df[col] = df[col].apply(lambda x: re.sub(r'\b\d{4}\b', '', str(x)))
    df[col] = df[col].replace('', np.nan)
    
    # Remove negative values from the resulting array
    df[col] = df[col].apply(lambda x: x if pd.isnull(x) or int(x) >= 0 else np.nan)
    
    grouped_df = df.groupby('Customer_ID')
    mode_per_group = grouped_df[col].transform(lambda x: x.mode().iat[0] if len(x.mode()) > 0 else np.nan)
    df[col].fillna(mode_per_group, inplace=True)

    return df

In [22]:
clean_nba_df=clean_nba(clean_mis_df,"Num_Bank_Accounts")

In [23]:
clean_nba_df["Num_Bank_Accounts"].unique()

array(['3', '2', '1', '7', '4', '0', '8', '5', '6', '9', nan],
      dtype=object)

In [24]:
clean_nba_df["Num_Credit_Card"].unique()

array([   4, 1385,    5, ...,  955, 1430,  679])

In [25]:
def clean_nbc(df, col):
    df[col] = df[col].apply(lambda x: re.sub(r'\b\d{2}\b', '', str(x)))
    df[col] = df[col].apply(lambda x: re.sub(r'\b\d{3}\b', '', str(x)))
    df[col] = df[col].apply(lambda x: re.sub(r'\b\d{4}\b', '', str(x)))
    df[col] = df[col].replace('', np.nan)
    # df[col] = df[col].astype(float)
    grouped_df = df.groupby('Customer_ID')
    mode_per_group = grouped_df[col].transform(lambda x: x.mode().iat[0]if len(x.mode()) > 0 else np.nan)
    df[col].fillna(mode_per_group, inplace=True)

    return df

In [26]:
clean_nbc_df=clean_nbc(clean_nba_df,'Num_Credit_Card')

In [27]:
clean_nbc_df['Num_Credit_Card'].unique()

array(['4', '5', '1', '7', '6', '8', '3', '9', '2', nan, '0'],
      dtype=object)

In [28]:
clean_nbc_df['Interest_Rate'].unique()

array([   3,    6,    8, ..., 1347,  387, 5729])

In [29]:
def clean_ir(df, col):
    df[col] = df[col].apply(lambda x: re.sub(r'\b\d{3}\b', '', str(x)))
    df[col] = df[col].apply(lambda x: re.sub(r'\b\d{4}\b', '', str(x)))
    df[col] = df[col].replace('', np.nan)
    # df[col] = df[col].astype(float)
    grouped_df = df.groupby('Customer_ID')
    mode_per_group = grouped_df[col].transform(lambda x: x.mode().iat[0]if len(x.mode()) > 0 else np.nan)
    df[col].fillna(mode_per_group, inplace=True)

    return df

In [30]:
clean_ir_df=clean_ir(clean_nbc_df,'Interest_Rate')

In [31]:
clean_ir_df['Interest_Rate'].unique()

array(['3', '6', '8', '4', '5', '15', '7', '12', '20', '1', '14', '32',
       '16', '17', '10', '31', '25', '18', '19', '9', '24', '13', '33',
       '11', '21', '29', '28', '30', '23', '34', '2', '27', '26', '22',
       '73', '76', '94', '74', '67', '87', '75', '59', '89', '95', '91',
       '60', '81', '64', '98', '77', '99', '92'], dtype=object)

In [32]:
clean_ir_df['Num_of_Loan'].unique()

array(['4', '1', '3', '967', '-100', '0', '0_', '2', '3_', '2_', '7', '5',
       '5_', '6', '8', '8_', '9', '9_', '4_', '7_', '1_', '1464', '6_',
       '622', '352', '472', '1017', '945', '146', '563', '341', '444',
       '720', '1485', '49', '737', '1106', '466', '728', '313', '843',
       '597_', '617', '119', '663', '640', '92_', '1019', '501', '1302',
       '39', '716', '848', '931', '1214', '186', '424', '1001', '1110',
       '1152', '457', '1433', '1187', '52', '1480', '1047', '1035',
       '1347_', '33', '193', '699', '329', '1451', '484', '132', '649',
       '995', '545', '684', '1135', '1094', '1204', '654', '58', '348',
       '614', '1363', '323', '1406', '1348', '430', '153', '1461', '905',
       '1312', '1424', '1154', '95', '1353', '1228', '819', '1006', '795',
       '359', '1209', '590', '696', '1185_', '1465', '911', '1181', '70',
       '816', '1369', '143', '1416', '455', '55', '1096', '1474', '420',
       '1131', '904', '89', '1259', '527', '1241', '449', '983', '418',
       '319', '23', '238', '638', '138', '235_', '280', '1070', '1484',
       '274', '494', '1459_', '404', '1354', '1495', '1391', '601',
       '1313', '1319', '898', '231', '752', '174', '961', '1046', '834',
       '284', '438', '288', '1463', '1151', '719', '198', '1015', '855',
       '841', '392', '1444', '103', '1320_', '745', '172', '252', '630_',
       '241', '31', '405', '1217', '1030', '1257', '137', '157', '164',
       '1088', '1236', '777', '1048', '613', '330', '1439', '321', '661',
       '952', '939', '562', '1202', '302', '943', '394', '955', '1318',
       '936', '781', '100', '1329', '1365', '860', '217', '191', '32',
       '282', '351', '1387', '757', '416', '833', '359_', '292', '1225_',
       '1227', '639', '859', '243', '267', '510', '332', '996', '597',
       '311', '492', '820', '336', '123', '540', '131_', '1311_', '1441',
       '895', '891', '50', '940', '935', '596', '29', '1182', '1129_',
       '1014', '251', '365', '291', '1447', '742', '1085', '148', '462',
       '832', '881', '1225', '1412', '785_', '1127', '910', '538', '999',
       '733', '101', '237', '87', '659', '633', '387', '447', '629',
       '831', '1384', '773', '621', '1419', '289', '143_', '285', '1393',
       '1131_', '27_', '1359', '1482', '1189', '1294', '201', '579',
       '814', '141', '1320', '581', '1171_', '295', '290', '433', '679',
       '1040', '1054', '1430', '1023', '1077', '1457', '1150', '701',
       '1382', '889', '437', '372', '1222', '126', '1159', '868', '19',
       '1297', '227_', '190', '809', '1216', '1074', '571', '520', '1274',
       '1340', '991', '316', '697', '926', '873', '1002', '378_', '65',
       '875', '867', '548', '652', '1372', '606', '1036', '1300', '17',
       '1178', '802', '1219_', '1271', '1137', '1496', '439', '196',
       '636', '192', '228', '1053', '229', '753', '1296', '1371', '254',
       '863', '464', '515', '838', '1160', '1289', '1298', '799', '182',
       '574', '527_', '242', '415', '869', '958', '54', '1265', '656',
       '275', '778', '208', '147', '350', '507', '463', '497', '1129',
       '927', '653', '662', '529', '635', '1027_', '897', '1039', '227',
       '1345', '924', '696_', '1279', '546', '1112', '1210', '526', '300',
       '1103', '504', '136', '1400', '78', '686', '1091', '344', '215',
       '84', '628', '1470', '968', '1478', '83', '1196', '1307', '1132_',
       '1008', '917', '657', '56', '18', '41', '801', '978', '216', '349',
       '966'], dtype=object)

In [33]:
def clean_nol(df, col):
    
    df[col] = df[col].str.replace('_', '')
    df[col] = df[col].str.replace('-', '')
    df[col] = df[col].str.replace(r'\b-\d{3}\b', '',regex=True)
    df[col] = df[col].str.replace(r'\b\d{3}\b', '',regex=True)
    df[col] = df[col].str.replace(r'\b-\d{4}\b', '',regex=True)
    df[col] = df[col].str.replace(r'\b\d{4}\b', '',regex=True)
    df[col] = df[col].replace('', np.nan)
    df[col] = df[col].astype(float)
    
    grouped_df = df.groupby('Customer_ID')
    mode_per_group = grouped_df[col].transform(lambda x: x.mode().iat[0] if len(x.mode()) > 0 else np.nan)
    df[col].fillna(mode_per_group, inplace=True)
    
    return df

In [34]:
clean_nol_df=clean_nol(clean_ir_df,"Num_of_Loan")

In [35]:
clean_nol_df['Num_of_Loan'].unique()

array([ 4.,  1.,  3.,  0.,  2.,  7.,  5.,  6.,  8.,  9., 49., 92., 39.,
       52., 33., 58., 95., 70., 55., 89., 23., 31., 32., 50., 29., 87.,
       27., 19., 65., 17., 54., 78., 84., 83., 56., 18., 41.])

In [36]:
clean_nol_df['Type_of_Loan'].unique()

array(['Auto Loan, Credit-Builder Loan, Personal Loan, and Home Equity Loan',
       'Credit-Builder Loan', 'Auto Loan, Auto Loan, and Not Specified',
       ..., 'Home Equity Loan, Auto Loan, Auto Loan, and Auto Loan',
       'Payday Loan, Student Loan, Mortgage Loan, and Not Specified',
       'Personal Loan, Auto Loan, Mortgage Loan, Student Loan, and Student Loan'],
      dtype=object)

In [37]:
def clean_tpo(df, col):
    grouped_df = df.groupby('Customer_ID')
    mode_per_group = grouped_df[col].transform(lambda x: x.mode().iat[0] if len(x.mode()) > 0 else np.nan)
    df[col].fillna(mode_per_group, inplace=True)
    
    return df

In [38]:
clean_tpo_df=clean_tpo(clean_nol_df,'Type_of_Loan')

In [39]:
clean_tpo_df['Type_of_Loan'].unique()

array(['Auto Loan, Credit-Builder Loan, Personal Loan, and Home Equity Loan',
       'Credit-Builder Loan', 'Auto Loan, Auto Loan, and Not Specified',
       ..., 'Home Equity Loan, Auto Loan, Auto Loan, and Auto Loan',
       'Payday Loan, Student Loan, Mortgage Loan, and Not Specified',
       'Personal Loan, Auto Loan, Mortgage Loan, Student Loan, and Student Loan'],
      dtype=object)

In [40]:
clean_tpo_df.columns

Index(['ID', 'Customer_ID', 'Month', 'Name', 'Age', 'SSN', 'Occupation',
       'Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts',
       'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan', 'Type_of_Loan',
       'Delay_from_due_date', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit',
       'Num_Credit_Inquiries', 'Credit_Mix', 'Outstanding_Debt',
       'Credit_Utilization_Ratio', 'Credit_History_Age',
       'Payment_of_Min_Amount', 'Total_EMI_per_month',
       'Amount_invested_monthly', 'Payment_Behaviour', 'Monthly_Balance',
       'Credit_Score'],
      dtype='object')

In [41]:
clean_tpo_df['Num_of_Delayed_Payment'].unique()

array(['7', nan, '4', '8_', '6', '1', '-1', '3_', '0', '8', '5', '3', '9',
       '12', '15', '17', '10', '2', '2_', '11', '14', '20', '22', '13',
       '13_', '14_', '16', '12_', '18', '19', '23', '24', '21', '3318',
       '3083', '22_', '1338', '4_', '26', '11_', '3104', '21_', '25',
       '10_', '183_', '9_', '1106', '834', '19_', '24_', '17_', '23_',
       '2672', '20_', '2008', '-3', '538', '6_', '1_', '16_', '27', '-2',
       '3478', '2420', '15_', '707', '708', '26_', '18_', '3815', '28',
       '5_', '1867', '2250', '1463', '25_', '7_', '4126', '2882', '1941',
       '2655', '2628', '132', '3069', '306', '0_', '3539', '3684', '1823',
       '4128', '1946', '827', '2297', '2566', '904', '182', '929', '3568',
       '2503', '1552', '2812', '1697', '3764', '851', '3905', '923', '88',
       '1668', '3253', '808', '2689', '3858', '642', '3457', '1402',
       '1732', '3154', '847', '3037', '2204', '3103', '1063', '2056',
       '1282', '1841', '2569_', '211', '793', '3484', '411', '3491',
       '2072', '3050', '1049', '2162', '3402', '2753', '27_', '1718',
       '1014', '3260', '3855', '84', '2311', '3251', '1832', '4069',
       '3010', '733', '4241', '166', '2461', '1749', '3200', '663_',
       '2185', '4161', '3009', '359', '2015', '1523', '594', '1079',
       '1199', '186', '1015', '1989', '281', '559', '2165', '1509',
       '3545', '779', '192', '4311', '-2_', '2323', '1471', '1538',
       '3529', '439', '3456', '3040', '2697', '3179', '1332', '3175',
       '3112', '829', '4022', '3870', '4023', '531', '1511', '3092',
       '3191', '2400', '3621', '3536', '544', '1864', '28_', '142',
       '2300', '264', '72', '497', '398', '2222', '3960', '1473', '3043',
       '4216', '2903', '2658', '-1_', '4042', '1323_', '2184', '921',
       '1328', '3404', '2438', '809', '47', '1996', '4164', '1370',
       '1204', '2167', '4011', '2590', '2594', '2533', '1663', '1018',
       '2919', '3458', '3316', '2589', '2801', '3355', '2529', '2488',
       '4266', '1243', '739', '845', '4107', '1884', '337', '2660', '290',
       '674', '2450', '3738', '1792', '2823', '2570', '775', '960', '482',
       '1706', '2493', '3623', '3031', '2794_', '2219_', '758_', '1849',
       '3559', '4096', '3726', '1953', '2657', '4043', '2938', '4384',
       '1647', '2694', '3533', '519', '2677', '2413', '-3_', '4139',
       '2609', '4326', '4211', '823', '3011', '1608', '2860', '4219',
       '4047', '1531', '742', '52', '4024', '1673', '49', '2243', '1685',
       '1869', '2587', '3489', '749', '1164', '2616', '848_', '4134',
       '1530', '1502', '4075', '3845', '1060', '2573', '2128', '328',
       '640', '2585', '2230', '1795', '1180', '1534', '3739', '3313',
       '4191', '996', '372', '3340', '3177', '602', '787', '4135', '3878',
       '4059', '1218', '4051', '1766', '1359', '3107', '585', '1263',
       '2511', '709', '3632', '4077', '2943', '2793', '3245', '2317',
       '1640', '2237_', '3819', '252', '3978', '1498', '1833', '2737',
       '1192', '1481', '700', '271', '2286', '273', '1215', '3944',
       '2070', '1478', '3749', '871', '2508', '2959', '130', '294',
       '3097_', '3511', '415', '2196', '2138', '2149', '1874', '1553',
       '3847', '3222', '1222', '2907', '3051', '98', '1598', '416',
       '2314', '2955', '1691', '1450', '2021', '1636', '80', '3708',
       '195', '320', '2945', '1911', '3416', '3796', '4159', '2255',
       '938', '4397', '3776', '2148', '1994', '853', '1178', '1633',
       '196', '3864', '714', '1687', '1034', '468', '1337', '2044',
       '1541', '3661', '1211', '2645', '2007', '102', '1891', '3162',
       '3142', '2566_', '2766', '3881', '2728', '2671', '1952', '3580',
       '2705', '4251', '3840_', '972', '3119', '3502', '4185', '2954',
       '683', '1614', '1572', '4302', '3447', '1852', '2131', '1900',
       '1699', '133', '2018', '2127', '508', '210', '577', '1664', '2604',
       '1411', '2351', '867', '1371', '2352', '1191', '905', '4053',
       '3869', '933', '3660', '3300', '3629', '3208', '2142', '2521',
       '450', '583', '876', '121', '3919', '2560', '2578', '2060', '813',
       '1236', '1489', '4360', '1154', '2544', '4172', '2924', '426',
       '4270', '2768', '3909', '3951', '2712', '2498', '3171', '1750',
       '197', '2569', '265', '4293', '887', '2707', '2397', '4337',
       '4249', '2751', '2950', '1859', '107', '2348', '2506', '2810',
       '2873', '1301', '2262', '1890', '3078', '3865', '3268', '2777',
       '3105', '1278', '3793', '2276', '2879', '4298', '2141', '223',
       '2239', '846', '1862', '2756', '1181', '1184', '2617', '3972',
       '2334', '3900', '2759', '4169', '2280', '2492', '2729', '3750',
       '1825', '309', '2431', '3099', '2080', '2279', '2666', '3722',
       '1976', '529', '1985', '3060', '4278', '3212', '46', '3148',
       '3467', '4231', '3790', '473', '1536', '3955', '2324', '2381',
       '1177', '371', '2896', '3880', '2991', '4319', '1061', '662',
       '4144', '693', '2006', '3115', '2278_', '3751', '1861', '4262',
       '2913', '2615', '3492', '800', '3766', '384', '3407', '1087',
       '3329', '1086', '2216', '1087_', '2457', '3522', '3274', '3488',
       '2854', '238', '351', '3706', '4280', '4095', '2926', '1329',
       '3370', '283', '1392', '1743', '2429', '974', '3156', '1133',
       '4388', '3243', '4282', '2523', '4281', '3415', '2001', '441',
       '94', '3499', '969', '3368', '106', '1004', '2638', '3946', '2956',
       '4324', '85', '4113', '819', '615', '1172', '2553', '1765', '3495',
       '2820', '4239', '4340', '1295_', '2636', '4295', '1653', '1325',
       '1879', '1096', '1735', '3584', '1073', '1975', '3827', '2552',
       '3754', '2378', '532', '926', '2376', '3636', '3763', '778',
       '2621', '804', '754', '2418', '4019', '3926', '3861_', '3574',
       '175', '162', '2834', '3765', '2354', '523', '2274', '1606',
       '1443', '1354', '2142_', '1422', '2278', '1045', '4106', '3155',
       '666', '659', '3229', '1216', '2076', '1473_', '2384', '1954',
       '719', '2534', '4002', '541', '2875', '4344', '2081', '3894',
       '1256', '676', '4178', '399', '86', '1571', '4037', '1967', '4005',
       '3216', '1150', '2591', '1801', '3721', '1775', '2260', '3707',
       '4292', '1820', '145', '1480', '1850', '430', '217', '3920_',
       '1389', '1579', '3391', '2385', '3336', '3392', '3688', '221',
       '2047'], dtype=object)

In [42]:
def clean_ndp(df, col):
    
    df[col] = df[col].str.replace('_', '')
    df[col] = df[col].str.replace('-', '')
    df[col] = df[col].str.replace(r'\b-\d{3}\b', '',regex=True)
    df[col] = df[col].str.replace(r'\b\d{3}\b', '',regex=True)
    df[col] = df[col].str.replace(r'\b-\d{4}\b', '',regex=True)
    df[col] = df[col].str.replace(r'\b\d{4}\b', '',regex=True)
    df[col] = df[col].replace('', np.nan)
    df[col] = df[col].astype(float)
    
    grouped_df = df.groupby('Customer_ID')
    mode_per_group = grouped_df[col].transform(lambda x: x.mode().iat[0] if len(x.mode()) > 0 else np.nan)
    df[col].fillna(mode_per_group, inplace=True)
    
    return df

In [43]:
clean_ndp_df=clean_ndp(clean_tpo_df,'Num_of_Delayed_Payment')

In [44]:
clean_ndp_df['Num_of_Delayed_Payment'].unique()

array([ 7.,  4.,  8.,  6.,  1.,  3.,  0.,  5.,  9., 15., 12., 17., 10.,
        2., 11., 14., 20., 22., 13., 16., 19., 18., 21., 23., 24., 26.,
       25., 27., 28., 88., 84., 72., 47., 52., 49., 98., 80., 46., 94.,
       85., 86.])

In [45]:
clean_ndp_df['Num_Credit_Inquiries'].unique()

array([   4.,    2.,    3., ..., 1361.,  310.,   74.])

In [46]:
def clean_ncq(df, col):
    grouped_df = df.groupby('Customer_ID')
    mode_per_group = grouped_df[col].transform(lambda x: x.mode().iat[0]if len(x.mode()) > 0 else np.nan)
    df[col].fillna(mode_per_group, inplace=True)

    return df

In [47]:
clean_ncq_df=clean_ncq(clean_ndp_df,"Num_Credit_Inquiries")

In [48]:
clean_ncq_df['Credit_Mix'].unique()

array(['_', 'Good', 'Standard', 'Bad'], dtype=object)

In [49]:
def clean_cm(df, col):
    
    df[col] = df[col].str.replace('_', '')
    df[col] = df[col].str.replace('-', '')
    df[col] = df[col].replace('', np.nan)    
    grouped_df = df.groupby('Customer_ID')
    mode_per_group = grouped_df[col].transform(lambda x: x.mode().iat[0] if len(x.mode()) > 0 else np.nan)
    df[col].fillna(mode_per_group, inplace=True)
    
    return df

In [50]:
clean_cm_df=clean_cm(clean_ncq_df,'Credit_Mix')

In [51]:
clean_cm_df['Credit_Mix'].unique()

array(['Good', 'Standard', 'Bad'], dtype=object)

In [52]:
clean_cm_df['Amount_invested_monthly'].unique()

array(['80.41529543900253', '118.28022162236736', '81.699521264648', ...,
       '24.02847744864441', '251.67258219721603', '167.1638651610451'],
      dtype=object)

In [53]:
def clean_aim(df, col):
    
    df[col] = df[col].str.replace('_', '')
    df[col] = df[col].str.replace('-', '')
    df[col] = df[col].replace('', np.nan)    
    grouped_df = df.groupby('Customer_ID')
    mode_per_group = grouped_df[col].transform(lambda x: x.mode().iat[0] if len(x.mode()) > 0 else np.nan)
    df[col].fillna(mode_per_group, inplace=True)
    
    return df

In [54]:
clean_aim_df=clean_aim(clean_cm_df,'Amount_invested_monthly')

In [55]:
clean_aim_df['Amount_invested_monthly'].unique()

array(['80.41529543900253', '118.28022162236736', '81.699521264648', ...,
       '24.02847744864441', '251.67258219721603', '167.1638651610451'],
      dtype=object)

In [56]:
clean_aim_df['Payment_Behaviour'].unique()

array(['High_spent_Small_value_payments',
       'Low_spent_Large_value_payments',
       'Low_spent_Medium_value_payments',
       'Low_spent_Small_value_payments',
       'High_spent_Medium_value_payments', '!@9#%8',
       'High_spent_Large_value_payments'], dtype=object)

In [57]:
def clean_pb(df, col):
    
    df[col] = df[col].str.replace('!@9#%8', '')
    df[col] = df[col].replace('', np.nan)    
    grouped_df = df.groupby('Customer_ID')
    mode_per_group = grouped_df[col].transform(lambda x: x.mode().iat[0] if len(x.mode()) > 0 else np.nan)
    df[col].fillna(mode_per_group, inplace=True)
    
    return df

In [58]:
clean_pb_df=clean_pb(clean_aim_df,'Payment_Behaviour')

In [59]:
clean_pb_df['Payment_Behaviour'].unique()

array(['High_spent_Small_value_payments',
       'Low_spent_Large_value_payments',
       'Low_spent_Medium_value_payments',
       'Low_spent_Small_value_payments',
       'High_spent_Medium_value_payments',
       'High_spent_Large_value_payments'], dtype=object)

In [60]:
clean_pb_df['Monthly_Balance'].unique()

array(['312.49408867943663', '284.62916249607184', '331.2098628537912',
       ..., 516.8090832742814, 319.1649785257098, 393.6736955618808],
      dtype=object)

In [61]:
def clean_mb(df, col):
    
    df[col] = df[col].str.replace('__-333333333333333333333333333__', '')
    df[col] = df[col].replace('', np.nan)    
    grouped_df = df.groupby('Customer_ID')
    mode_per_group = grouped_df[col].transform(lambda x: x.mode().iat[0] if len(x.mode()) > 0 else np.nan)
    df[col].fillna(mode_per_group, inplace=True)
    
    return df

In [62]:
clean_pb_df['Monthly_Balance'].unique()

array(['312.49408867943663', '284.62916249607184', '331.2098628537912',
       ..., 516.8090832742814, 319.1649785257098, 393.6736955618808],
      dtype=object)

In [63]:
clean_mb_df=clean_mb(clean_pb_df,'Monthly_Balance')

In [64]:
clean_mb_df['Monthly_Balance'].unique()

array(['312.49408867943663', '284.62916249607184', '331.2098628537912',
       ..., '343.79399959878214', '214.61493361875802', nan], dtype=object)

In [65]:
clean_mb_df['Credit_History_Age'].unique()

array(['22 Years and 1 Months', nan, '22 Years and 3 Months',
       '22 Years and 4 Months', '22 Years and 5 Months',
       '22 Years and 6 Months', '22 Years and 7 Months',
       '26 Years and 7 Months', '26 Years and 8 Months',
       '26 Years and 9 Months', '26 Years and 10 Months',
       '26 Years and 11 Months', '27 Years and 0 Months',
       '27 Years and 1 Months', '27 Years and 2 Months',
       '17 Years and 9 Months', '17 Years and 10 Months',
       '17 Years and 11 Months', '18 Years and 1 Months',
       '18 Years and 2 Months', '18 Years and 3 Months',
       '18 Years and 4 Months', '17 Years and 3 Months',
       '17 Years and 4 Months', '17 Years and 5 Months',
       '17 Years and 6 Months', '17 Years and 7 Months',
       '17 Years and 8 Months', '30 Years and 8 Months',
       '30 Years and 9 Months', '30 Years and 10 Months',
       '30 Years and 11 Months', '31 Years and 0 Months',
       '31 Years and 1 Months', '31 Years and 2 Months',
       '31 Years and 3 Months', '32 Years and 0 Months',
       '32 Years and 2 Months', '32 Years and 3 Months',
       '32 Years and 5 Months', '32 Years and 6 Months',
       '30 Years and 7 Months', '14 Years and 8 Months',
       '14 Years and 9 Months', '14 Years and 10 Months',
       '14 Years and 11 Months', '15 Years and 0 Months',
       '15 Years and 1 Months', '15 Years and 2 Months',
       '21 Years and 4 Months', '21 Years and 5 Months',
       '21 Years and 6 Months', '21 Years and 7 Months',
       '21 Years and 8 Months', '21 Years and 9 Months',
       '21 Years and 10 Months', '21 Years and 11 Months',
       '26 Years and 6 Months', '19 Years and 2 Months',
       '19 Years and 3 Months', '19 Years and 4 Months',
       '19 Years and 5 Months', '19 Years and 6 Months',
       '19 Years and 7 Months', '19 Years and 8 Months',
       '25 Years and 5 Months', '25 Years and 6 Months',
       '25 Years and 7 Months', '25 Years and 8 Months',
       '25 Years and 9 Months', '25 Years and 10 Months',
       '25 Years and 11 Months', '26 Years and 0 Months',
       '27 Years and 3 Months', '27 Years and 4 Months',
       '27 Years and 5 Months', '8 Years and 11 Months',
       '9 Years and 0 Months', '9 Years and 1 Months',
       '9 Years and 2 Months', '9 Years and 3 Months',
       '9 Years and 4 Months', '9 Years and 6 Months',
       '18 Years and 5 Months', '18 Years and 6 Months',
       '18 Years and 8 Months', '18 Years and 9 Months',
       '16 Years and 10 Months', '16 Years and 11 Months',
       '17 Years and 0 Months', '17 Years and 1 Months',
       '17 Years and 2 Months', '29 Years and 2 Months',
       '29 Years and 3 Months', '29 Years and 4 Months',
       '29 Years and 6 Months', '29 Years and 8 Months',
       '29 Years and 9 Months', '6 Years and 5 Months',
       '6 Years and 6 Months', '6 Years and 7 Months',
       '6 Years and 8 Months', '6 Years and 9 Months',
       '6 Years and 10 Months', '6 Years and 11 Months',
       '7 Years and 0 Months', '27 Years and 6 Months',
       '27 Years and 7 Months', '27 Years and 8 Months',
       '27 Years and 9 Months', '18 Years and 7 Months',
       '19 Years and 9 Months', '19 Years and 10 Months',
       '10 Years and 1 Months', '10 Years and 2 Months',
       '10 Years and 3 Months', '10 Years and 4 Months',
       '10 Years and 5 Months', '10 Years and 6 Months',
       '10 Years and 7 Months', '10 Years and 8 Months',
       '32 Years and 9 Months', '32 Years and 10 Months',
       '32 Years and 11 Months', '33 Years and 0 Months',
       '33 Years and 1 Months', '33 Years and 4 Months',
       '12 Years and 3 Months', '12 Years and 4 Months',
       '12 Years and 5 Months', '12 Years and 6 Months',
       '12 Years and 7 Months', '12 Years and 8 Months',
       '12 Years and 10 Months', '12 Years and 9 Months',
       '13 Years and 8 Months', '13 Years and 11 Months',
       '14 Years and 0 Months', '14 Years and 1 Months',
       '14 Years and 2 Months', '14 Years and 3 Months',
       '30 Years and 3 Months', '30 Years and 4 Months',
       '30 Years and 5 Months', '30 Years and 6 Months',
       '8 Years and 9 Months', '8 Years and 10 Months',
       '18 Years and 10 Months', '18 Years and 11 Months',
       '19 Years and 0 Months', '19 Years and 1 Months',
       '8 Years and 8 Months', '13 Years and 1 Months',
       '13 Years and 2 Months', '13 Years and 3 Months',
       '13 Years and 5 Months', '13 Years and 6 Months',
       '13 Years and 7 Months', '22 Years and 0 Months',
       '26 Years and 1 Months', '26 Years and 2 Months',
       '13 Years and 4 Months', '13 Years and 9 Months',
       '27 Years and 11 Months', '28 Years and 0 Months',
       '28 Years and 1 Months', '28 Years and 2 Months',
       '28 Years and 3 Months', '28 Years and 4 Months',
       '28 Years and 5 Months', '28 Years and 6 Months',
       '7 Years and 10 Months', '7 Years and 11 Months',
       '8 Years and 0 Months', '8 Years and 1 Months',
       '8 Years and 2 Months', '8 Years and 3 Months',
       '8 Years and 4 Months', '8 Years and 5 Months',
       '24 Years and 3 Months', '24 Years and 4 Months',
       '24 Years and 5 Months', '24 Years and 6 Months',
       '24 Years and 7 Months', '24 Years and 8 Months',
       '24 Years and 9 Months', '1 Years and 2 Months',
       '1 Years and 3 Months', '1 Years and 4 Months',
       '1 Years and 5 Months', '1 Years and 6 Months',
       '1 Years and 7 Months', '1 Years and 8 Months',
       '10 Years and 11 Months', '11 Years and 0 Months',
       '11 Years and 1 Months', '11 Years and 2 Months',
       '11 Years and 3 Months', '11 Years and 4 Months',
       '11 Years and 5 Months', '11 Years and 6 Months',
       '19 Years and 11 Months', '20 Years and 0 Months',
       '20 Years and 1 Months', '10 Years and 9 Months',
       '10 Years and 10 Months', '14 Years and 4 Months',
       '14 Years and 5 Months', '14 Years and 6 Months',
       '20 Years and 8 Months', '20 Years and 9 Months',
       '20 Years and 10 Months', '20 Years and 11 Months',
       '21 Years and 0 Months', '21 Years and 1 Months',
       '21 Years and 2 Months', '21 Years and 3 Months',
       '0 Years and 4 Months', '0 Years and 5 Months',
       '0 Years and 6 Months', '0 Years and 8 Months',
       '0 Years and 9 Months', '0 Years and 10 Months',
       '31 Years and 7 Months', '31 Years and 8 Months',
       '31 Years and 9 Months', '31 Years and 10 Months',
       '31 Years and 11 Months', '32 Years and 1 Months',
       '12 Years and 11 Months', '13 Years and 0 Months',
       '27 Years and 10 Months', '11 Years and 7 Months',
       '11 Years and 8 Months', '11 Years and 9 Months',
       '11 Years and 10 Months', '24 Years and 10 Months',
       '24 Years and 11 Months', '25 Years and 0 Months',
       '25 Years and 1 Months', '25 Years and 2 Months',
       '25 Years and 3 Months', '18 Years and 0 Months',
       '31 Years and 4 Months', '31 Years and 5 Months',
       '31 Years and 6 Months', '5 Years and 2 Months',
       '5 Years and 3 Months', '5 Years and 4 Months',
       '5 Years and 5 Months', '5 Years and 6 Months',
       '5 Years and 7 Months', '5 Years and 8 Months',
       '5 Years and 9 Months', '2 Years and 11 Months',
       '3 Years and 0 Months', '3 Years and 1 Months',
       '3 Years and 2 Months', '3 Years and 3 Months',
       '3 Years and 4 Months', '3 Years and 5 Months',
       '3 Years and 6 Months', '16 Years and 4 Months',
       '16 Years and 5 Months', '16 Years and 6 Months',
       '16 Years and 7 Months', '16 Years and 8 Months',
       '16 Years and 9 Months', '22 Years and 11 Months',
       '23 Years and 0 Months', '23 Years and 2 Months',
       '23 Years and 3 Months', '23 Years and 4 Months',
       '23 Years and 5 Months', '23 Years and 6 Months',
       '8 Years and 6 Months', '8 Years and 7 Months',
       '4 Years and 5 Months', '4 Years and 6 Months',
       '4 Years and 7 Months', '4 Years and 8 Months',
       '4 Years and 9 Months', '4 Years and 10 Months',
       '4 Years and 11 Months', '5 Years and 0 Months',
       '32 Years and 8 Months', '33 Years and 2 Months',
       '33 Years and 3 Months', '12 Years and 2 Months',
       '32 Years and 4 Months', '29 Years and 11 Months',
       '30 Years and 0 Months', '30 Years and 2 Months',
       '26 Years and 3 Months', '26 Years and 4 Months',
       '26 Years and 5 Months', '7 Years and 6 Months',
       '7 Years and 7 Months', '7 Years and 8 Months',
       '7 Years and 9 Months', '28 Years and 7 Months',
       '28 Years and 8 Months', '28 Years and 9 Months',
       '28 Years and 10 Months', '29 Years and 5 Months',
       '29 Years and 7 Months', '20 Years and 2 Months',
       '20 Years and 3 Months', '20 Years and 4 Months',
       '20 Years and 5 Months', '20 Years and 6 Months',
       '20 Years and 7 Months', '28 Years and 11 Months',
       '29 Years and 0 Months', '13 Years and 10 Months',
       '1 Years and 9 Months', '1 Years and 10 Months',
       '1 Years and 11 Months', '33 Years and 5 Months',
       '33 Years and 6 Months', '33 Years and 7 Months',
       '33 Years and 8 Months', '29 Years and 1 Months',
       '5 Years and 1 Months', '5 Years and 10 Months',
       '5 Years and 11 Months', '6 Years and 0 Months',
       '6 Years and 1 Months', '6 Years and 2 Months',
       '6 Years and 3 Months', '22 Years and 9 Months',
       '22 Years and 10 Months', '23 Years and 1 Months',
       '22 Years and 2 Months', '15 Years and 4 Months',
       '15 Years and 5 Months', '15 Years and 6 Months',
       '15 Years and 7 Months', '15 Years and 8 Months',
       '15 Years and 9 Months', '15 Years and 10 Months',
       '15 Years and 11 Months', '2 Years and 3 Months',
       '2 Years and 4 Months', '2 Years and 5 Months',
       '2 Years and 6 Months', '2 Years and 7 Months',
       '2 Years and 8 Months', '2 Years and 9 Months',
       '2 Years and 10 Months', '2 Years and 0 Months',
       '16 Years and 2 Months', '16 Years and 3 Months',
       '22 Years and 8 Months', '9 Years and 5 Months',
       '9 Years and 7 Months', '9 Years and 8 Months',
       '9 Years and 9 Months', '11 Years and 11 Months',
       '12 Years and 0 Months', '12 Years and 1 Months',
       '24 Years and 2 Months', '16 Years and 0 Months',
       '16 Years and 1 Months', '14 Years and 7 Months',
       '25 Years and 4 Months', '15 Years and 3 Months',
       '7 Years and 1 Months', '7 Years and 2 Months',
       '7 Years and 3 Months', '7 Years and 4 Months',
       '7 Years and 5 Months', '23 Years and 7 Months',
       '23 Years and 8 Months', '23 Years and 9 Months',
       '30 Years and 1 Months', '29 Years and 10 Months',
       '9 Years and 10 Months', '9 Years and 11 Months',
       '10 Years and 0 Months', '2 Years and 2 Months',
       '23 Years and 10 Months', '23 Years and 11 Months',
       '24 Years and 0 Months', '24 Years and 1 Months',
       '6 Years and 4 Months', '0 Years and 1 Months',
       '0 Years and 2 Months', '0 Years and 3 Months',
       '0 Years and 7 Months', '3 Years and 8 Months',
       '32 Years and 7 Months', '3 Years and 7 Months',
       '3 Years and 9 Months', '3 Years and 10 Months',
       '0 Years and 11 Months', '1 Years and 0 Months',
       '1 Years and 1 Months', '4 Years and 4 Months',
       '3 Years and 11 Months', '4 Years and 0 Months',
       '4 Years and 1 Months', '4 Years and 2 Months',
       '4 Years and 3 Months', '2 Years and 1 Months'], dtype=object)

In [66]:
def convert_to_months(duration):
    if isinstance(duration, str):
        years, months = duration.split(' Years and ')
        months = months.replace(' Months', '')
        total_months = int(years) * 12 + int(months)
        return total_months
    else:
        return duration

In [67]:
clean_mb_df['Credit_History_Age'] = clean_mb_df['Credit_History_Age'].apply(convert_to_months)

In [68]:
def clean_cha(df, col):
    grouped_df = df.groupby('Customer_ID')
    mode_per_group = grouped_df[col].transform(lambda x: x.mode().iat[0] if len(x.mode()) > 0 else np.nan)
    df[col].fillna(mode_per_group, inplace=True)
    
    return df

In [69]:
clean_cha_df=clean_cha(clean_mb_df,'Credit_History_Age')

In [70]:
clean_cha_df['Credit_History_Age'].isnull().sum()

0

In [71]:
month_mapping = {
    'January': 1,
    'February': 2,
    'March': 3,
    'April': 4,
    'May': 5,
    'June': 6,
    'July': 7,
    'August': 8
}

clean_cha_df['Month'] = clean_cha_df['Month'].map(month_mapping)

In [72]:
clean_cha_df['Month']

0        1
1        2
2        3
3        4
4        5
        ..
99995    4
99996    5
99997    6
99998    7
99999    8
Name: Month, Length: 100000, dtype: int64

In [73]:
#converting numerical features

columns_to_convert = ['Annual_Income', 'Num_Bank_Accounts', 'Num_Credit_Card', 'Interest_Rate', 'Changed_Credit_Limit', 'Outstanding_Debt', 'Amount_invested_monthly', 'Monthly_Balance']

clean_cha_df[columns_to_convert] = clean_cha_df[columns_to_convert].apply(pd.to_numeric, errors='coerce')

In [74]:
clean_cha_df.dtypes

ID                           object
Customer_ID                  object
Month                         int64
Name                         object
Age                         float64
SSN                          object
Occupation                   object
Annual_Income               float64
Monthly_Inhand_Salary       float64
Num_Bank_Accounts           float64
Num_Credit_Card             float64
Interest_Rate                 int64
Num_of_Loan                 float64
Type_of_Loan                 object
Delay_from_due_date           int64
Num_of_Delayed_Payment      float64
Changed_Credit_Limit        float64
Num_Credit_Inquiries        float64
Credit_Mix                   object
Outstanding_Debt            float64
Credit_Utilization_Ratio    float64
Credit_History_Age          float64
Payment_of_Min_Amount        object
Total_EMI_per_month         float64
Amount_invested_monthly     float64
Payment_Behaviour            object
Monthly_Balance             float64
Credit_Score                 object
dtype: object

In [75]:
clean_cha_df.isnull().sum()

ID                              0
Customer_ID                     0
Month                           0
Name                         9985
Age                             0
SSN                             0
Occupation                      0
Annual_Income                   0
Monthly_Inhand_Salary           0
Num_Bank_Accounts            5280
Num_Credit_Card              4928
Interest_Rate                   0
Num_of_Loan                     0
Type_of_Loan                11408
Delay_from_due_date             0
Num_of_Delayed_Payment          0
Changed_Credit_Limit         2091
Num_Credit_Inquiries            0
Credit_Mix                      0
Outstanding_Debt             1009
Credit_Utilization_Ratio        0
Credit_History_Age              0
Payment_of_Min_Amount           0
Total_EMI_per_month             0
Amount_invested_monthly         0
Payment_Behaviour               0
Monthly_Balance              1696
Credit_Score                    0
dtype: int64

In [76]:
clean_cha_df.dropna(inplace=True)

In [77]:
clean_cha_df.tail()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
98299,0x255f9,CUS_0x9d41,4,Rothackerz,38.0,979-38-2855,Lawyer,41015.55,3152.9625,0.0,...,Good,599.4,31.936092,302.0,NM,25.671257,387.541439,Low_spent_Small_value_payments,192.083554,Standard
98300,0x255fa,CUS_0x9d41,5,Rothackerz,38.0,979-38-2855,Lawyer,41015.55,3152.9625,0.0,...,Good,599.4,26.268474,303.0,No,25.671257,76.057218,High_spent_Large_value_payments,453.567775,Standard
98301,0x255fb,CUS_0x9d41,6,Rothackerz,38.0,979-38-2855,Lawyer,41015.55,3152.9625,0.0,...,Good,599.4,28.754729,299.0,No,25.671257,91.198586,High_spent_Medium_value_payments,448.426407,Standard
98302,0x255fc,CUS_0x9d41,7,Rothackerz,38.0,979-38-2855,Lawyer,41015.55,3152.9625,0.0,...,Good,599.4,38.514974,305.0,No,3466.000000,205.830993,High_spent_Small_value_payments,343.794000,Standard
98303,0x255fd,CUS_0x9d41,8,Rothackerz,38.0,979-38-2855,Lawyer,41015.55,3152.9625,0.0,...,Good,599.4,31.356267,306.0,No,25.671257,10000.000000,Low_spent_Small_value_payments,214.614934,Standard

In [78]:
clean_cha_df.isnull().sum()

ID                          0
Customer_ID                 0
Month                       0
Name                        0
Age                         0
SSN                         0
Occupation                  0
Annual_Income               0
Monthly_Inhand_Salary       0
Num_Bank_Accounts           0
Num_Credit_Card             0
Interest_Rate               0
Num_of_Loan                 0
Type_of_Loan                0
Delay_from_due_date         0
Num_of_Delayed_Payment      0
Changed_Credit_Limit        0
Num_Credit_Inquiries        0
Credit_Mix                  0
Outstanding_Debt            0
Credit_Utilization_Ratio    0
Credit_History_Age          0
Payment_of_Min_Amount       0
Total_EMI_per_month         0
Amount_invested_monthly     0
Payment_Behaviour           0
Monthly_Balance             0
Credit_Score                0
dtype: int64

In [79]:
clean_cha_df.shape

(67965, 28)

In [80]:
columns_to_drop = ['ID', 'Customer_ID', 'Name','SSN']
final_df = clean_cha_df.drop(columns_to_drop, axis=1)

In [89]:
final_df1=final_df.sample(10000)

X=final_df1.drop(columns=['Credit_Score'])
y=final_df1['Credit_Score']

In [90]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state=42)

In [91]:

one_hot_encode_cols = ['Occupation', 'Type_of_Loan', 'Payment_Behaviour']
ordinal_encode_cols = ['Payment_of_Min_Amount','Credit_Mix']
min_max_scale_cols = ['Age', 'Num_Bank_Accounts', 'Num_Credit_Card', 'Num_Credit_Inquiries',
                      'Num_of_Delayed_Payment']
standard_scale_cols = ['Credit_Utilization_Ratio', 'Changed_Credit_Limit']
robust_scale_cols = ['Annual_Income', 'Monthly_Inhand_Salary', 'Interest_Rate', 'Num_of_Loan',
                     'Delay_from_due_date', 'Outstanding_Debt', 'Total_EMI_per_month',
                     'Amount_invested_monthly', 'Monthly_Balance']

In [92]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder, MinMaxScaler, StandardScaler, RobustScaler, LabelEncoder

column_transformations = [
    ('one_hot_encode', OneHotEncoder( sparse=False,handle_unknown='ignore'), one_hot_encode_cols),
    ('ordinal_encode', OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=-1), ordinal_encode_cols)
]

scaling_transformer = [('min_max_scale', MinMaxScaler(), min_max_scale_cols),
                       ('standard_scale', StandardScaler(), standard_scale_cols),
                       ('robust_scale', RobustScaler(), robust_scale_cols)]

preprocessor = ColumnTransformer(transformers=column_transformations +
                                               scaling_transformer)

pipeline = make_pipeline(preprocessor)

X_train_preprocessed = pipeline.fit_transform(X_train)
X_test_preprocessed = pipeline.transform(X_test)

In [93]:
le = LabelEncoder()
y_train_encoded = le.fit_transform(y_train)
y_test_encoded = le.transform(y_test)

In [94]:
from tpot import TPOTClassifier
from sklearn.metrics import accuracy_score



tpot = TPOTClassifier(generations=5, population_size=20, verbosity=2)
tpot.fit(X_train_preprocessed, y_train_encoded)


# Print the best pipeline found by TPOT
print(tpot.fitted_pipeline_)

# Evaluate the best pipeline on the test data
accuracy = tpot.score(X_test_preprocessed, y_test_encoded)
print("Accuracy:", accuracy)

Optimization Progress:   0%|          | 0/120 [00:00<?, ?pipeline/s]

Generation 1 - Current best internal CV score: 0.73325

Generation 2 - Current best internal CV score: 0.73325

Generation 3 - Current best internal CV score: 0.73325

Generation 4 - Current best internal CV score: 0.73325

Generation 5 - Current best internal CV score: 0.73325

Best pipeline: RandomForestClassifier(input_matrix, bootstrap=False, criterion=gini, max_features=0.1, min_samples_leaf=2, min_samples_split=5, n_estimators=100)
Pipeline(steps=[('randomforestclassifier',
                 RandomForestClassifier(bootstrap=False, max_features=0.1,
                                        min_samples_leaf=2,
                                        min_samples_split=5))])
Accuracy: 0.7385